In [1]:
import pandas as pd
import numpy as np
import re
from scipy import stats

## Import Cities Dataset

In [70]:
cities_df = pd.read_html('assets/wikipedia_data.html')[1]

In [71]:
cities_df.head()

,Metropolitan area,Country,Pop.rank,Population (2016 est.)[8],B4,NFL,MLB,NBA,NHL,B6,MLS,CFL
0,New York City,United States,1,20153634,9,GiantsJets[note 1],YankeesMets[note 2],KnicksNets,RangersIslandersDevils[note 3],11,Red BullsNew York City FC,—
1,Los Angeles,United States,2,13310447,8,RamsChargers[note 4],DodgersAngels,LakersClippers,KingsDucks,10,GalaxyLos Angeles FC[note 5],—
2,San Francisco Bay Area,United States,6,6657982,6,49ersRaiders[note 6],GiantsAthletics,Warriors,Sharks[note 7],7,Earthquakes,—
3,Chicago,United States,3,9512999,5,Bears[note 8],CubsWhite Sox,Bulls[note 9],Blackhawks,6,Fire,—
4,Dallas–Fort Worth,United States,4,7233323,4,Cowboys,Rangers,Mavericks,Stars,5,FC Dallas,—

In [72]:
cities_df.rename({'Population (2016 est.)[8]': 'Population'}, axis=1, inplace=True)

In [73]:
cities_df = cities_df.iloc[:-1, :]

In [74]:
cities_df['Population'] = cities_df['Population'].astype(np.float)

In [75]:
#cities_df

## Import NHL Dataset

In [76]:
nhl_df = pd.read_csv('assets/nhl.csv')

In [77]:
nhl_df = nhl_df[nhl_df['year'] == 2018]

In [78]:
nhl_df.head()

,team,GP,W,L,OL,PTS,PTS%,GF,GA,SRS,SOS,RPt%,ROW,year,League
0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,2018,NHL
1,Tampa Bay Lightning*,82,54,23,5,113,.689,296,236,0.66,-0.07,.634,48,2018,NHL
2,Boston Bruins*,82,50,20,12,112,.683,270,214,0.62,-0.07,.610,47,2018,NHL
3,Toronto Maple Leafs*,82,49,26,7,105,.640,277,232,0.49,-0.06,.567,42,2018,NHL
4,Florida Panthers,82,44,30,8,96,.585,248,246,-0.01,-0.04,.537,41,2018,NHL

In [79]:
cities_df.head()

,Metropolitan area,Country,Pop.rank,Population,B4,NFL,MLB,NBA,NHL,B6,MLS,CFL
0,New York City,United States,1,20153634.0,9,GiantsJets[note 1],YankeesMets[note 2],KnicksNets,RangersIslandersDevils[note 3],11,Red BullsNew York City FC,—
1,Los Angeles,United States,2,13310447.0,8,RamsChargers[note 4],DodgersAngels,LakersClippers,KingsDucks,10,GalaxyLos Angeles FC[note 5],—
2,San Francisco Bay Area,United States,6,6657982.0,6,49ersRaiders[note 6],GiantsAthletics,Warriors,Sharks[note 7],7,Earthquakes,—
3,Chicago,United States,3,9512999.0,5,Bears[note 8],CubsWhite Sox,Bulls[note 9],Blackhawks,6,Fire,—
4,Dallas–Fort Worth,United States,4,7233323.0,4,Cowboys,Rangers,Mavericks,Stars,5,FC Dallas,—

In [80]:
re.findall('[A-Z][a-z]+', cities_df['NHL'][12])

['Red', 'Wings']

In [81]:
metro_nhl = cities_df[['Metropolitan area', 'NHL']]
metro_nhl['team_LName'] = metro_nhl['NHL'].apply(lambda x: re.findall('[A-Z][a-z]+', x))
metro_nhl = metro_nhl.explode(column='team_LName').dropna()

C:\Users\Mann\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [82]:
metro_nhl.drop('NHL', axis=1, inplace=True)

In [95]:
nhl_index = metro_nhl['Metropolitan area'].unique()

In [83]:
nhl_df['team_LName'] = nhl_df['team'].apply(lambda x: re.findall('.+\s([A-Z1-9]+[a-z]+)\*?', x)[0])

In [84]:
nhl_df.head()

,team,GP,W,L,OL,PTS,PTS%,GF,GA,SRS,SOS,RPt%,ROW,year,League,team_LName
0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,2018,NHL,Division
1,Tampa Bay Lightning*,82,54,23,5,113,.689,296,236,0.66,-0.07,.634,48,2018,NHL,Lightning
2,Boston Bruins*,82,50,20,12,112,.683,270,214,0.62,-0.07,.610,47,2018,NHL,Bruins
3,Toronto Maple Leafs*,82,49,26,7,105,.640,277,232,0.49,-0.06,.567,42,2018,NHL,Leafs
4,Florida Panthers,82,44,30,8,96,.585,248,246,-0.01,-0.04,.537,41,2018,NHL,Panthers

In [85]:
merged_nhl = metro_nhl.merge(nhl_df, on='team_LName')
merged_nhl['W'] = merged_nhl['W'].astype(np.float)
merged_nhl['L'] = merged_nhl['L'].astype(np.float)
merged_nhl['W/L%'] = merged_nhl['W'] / (merged_nhl['W'] + merged_nhl['L'])

In [107]:
grouped_nhl = merged_nhl.groupby('Metropolitan area').agg({'W/L%': 'mean'}).merge(cities_df[['Metropolitan area', 'Population']], on='Metropolitan area')
grouped_nhl.set_index('Metropolitan area', inplace=True)
q1 = grouped_nhl.loc[nhl_index, :]

## Import NBA Dataset

In [110]:
nba_df = pd.read_csv('assets/nba.csv')
nba_df = nba_df[nba_df['year'] == 2018]

In [150]:
nba_df['W/L%'] = nba_df['W/L%'].astype(np.float)

In [111]:
nba_df.head()

,team,W,L,W/L%,GB,PS/G,PA/G,SRS,year,League
0,Toronto Raptors* (1),59,23,0.72,—,111.7,103.9,7.29,2018,NBA
1,Boston Celtics* (2),55,27,0.6709999999999999,4.0,104.0,100.4,3.23,2018,NBA
2,Philadelphia 76ers* (3),52,30,0.634,7.0,109.8,105.3,4.3,2018,NBA
3,Cleveland Cavaliers* (4),50,32,0.61,9.0,110.9,109.9,0.59,2018,NBA
4,Indiana Pacers* (5),48,34,0.585,11.0,105.6,104.2,1.18,2018,NBA

In [117]:
cities_df.head()

,Metropolitan area,Country,Pop.rank,Population,B4,NFL,MLB,NBA,NHL,B6,MLS,CFL
0,New York City,United States,1,20153634.0,9,GiantsJets[note 1],YankeesMets[note 2],KnicksNets,RangersIslandersDevils[note 3],11,Red BullsNew York City FC,—
1,Los Angeles,United States,2,13310447.0,8,RamsChargers[note 4],DodgersAngels,LakersClippers,KingsDucks,10,GalaxyLos Angeles FC[note 5],—
2,San Francisco Bay Area,United States,6,6657982.0,6,49ersRaiders[note 6],GiantsAthletics,Warriors,Sharks[note 7],7,Earthquakes,—
3,Chicago,United States,3,9512999.0,5,Bears[note 8],CubsWhite Sox,Bulls[note 9],Blackhawks,6,Fire,—
4,Dallas–Fort Worth,United States,4,7233323.0,4,Cowboys,Rangers,Mavericks,Stars,5,FC Dallas,—

In [130]:
metro_nba = cities_df[['Metropolitan area', 'NBA']]

In [131]:
metro_nba['team_LName'] = metro_nba['NBA'].apply(lambda x: re.findall('[A-Z1-9]+[a-z]+', x))
metro_nba = metro_nba.explode(column='team_LName').dropna()
metro_nba.drop('NBA', axis=1, inplace=True)

C:\Users\Mann\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [156]:
nba_index = metro_nba['Metropolitan area'].unique()

In [145]:
nba_df['team_LName'] = nba_df['team'].apply(lambda x: re.findall('.*\s([A-Z1-9]+[a-z]+)\*?\s\S', x)[0])

In [161]:
merged_nba = nba_df.merge(metro_nba, on='team_LName')
grouped_nba = merged_nba.groupby(by='Metropolitan area').agg({'W/L%': 'mean'})

In [164]:
q2 = grouped_nba.reset_index().merge(cities_df[['Metropolitan area', 'Population']], on='Metropolitan area').set_index('Metropolitan area')

In [287]:
q2 = q2.loc[nba_index, :]

## Import MLB Dataset

In [266]:
mlb_df = pd.read_csv('assets/mlb.csv')
mlb_df = mlb_df[mlb_df['year'] == 2018]

In [267]:
mlb_df.head()

                team    W    L   W-L%    GB  year League
0     Boston Red Sox  108   54  0.667    --  2018    MLB
1   New York Yankees  100   62  0.617   8.0  2018    MLB
2     Tampa Bay Rays   90   72  0.556  18.0  2018    MLB
3  Toronto Blue Jays   73   89  0.451  35.0  2018    MLB
4  Baltimore Orioles   47  115  0.290  61.0  2018    MLB

In [268]:
cities_df.head()

,Metropolitan area,Country,Pop.rank,Population,B4,NFL,MLB,NBA,NHL,B6,MLS,CFL
0,New York City,United States,1,20153634.0,9,GiantsJets[note 1],YankeesMets[note 2],KnicksNets,RangersIslandersDevils[note 3],11,Red BullsNew York City FC,—
1,Los Angeles,United States,2,13310447.0,8,RamsChargers[note 4],DodgersAngels,LakersClippers,KingsDucks,10,GalaxyLos Angeles FC[note 5],—
2,San Francisco Bay Area,United States,6,6657982.0,6,49ersRaiders[note 6],GiantsAthletics,Warriors,Sharks[note 7],7,Earthquakes,—
3,Chicago,United States,3,9512999.0,5,Bears[note 8],CubsWhite Sox,Bulls[note 9],Blackhawks,6,Fire,—
4,Dallas–Fort Worth,United States,4,7233323.0,4,Cowboys,Rangers,Mavericks,Stars,5,FC Dallas,—

In [269]:
metro_mlb = cities_df[['Metropolitan area', 'MLB']]
metro_mlb['team_LName'] = metro_mlb['MLB'].apply(lambda x: re.findall('[A-Z][a-z]+\s[A-Z][a-z]+|[A-Z1-9]+[a-z]+', x))
metro_mlb = metro_mlb.explode(column='team_LName').dropna().drop('MLB', axis=1)

C:\Users\Mann\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [272]:
metro_mlb

         Metropolitan area    team_LName
0            New York City       Yankees
0            New York City          Mets
1              Los Angeles       Dodgers
1              Los Angeles        Angels
2   San Francisco Bay Area        Giants
2   San Francisco Bay Area     Athletics
3                  Chicago          Cubs
3                  Chicago     White Sox
4        Dallas–Fort Worth       Rangers
5         Washington, D.C.     Nationals
6             Philadelphia      Phillies
7                   Boston       Red Sox
8   Minneapolis–Saint Paul         Twins
9                   Denver       Rockies
10   Miami–Fort Lauderdale       Marlins
11                 Phoenix  Diamondbacks
12                 Detroit        Tigers
13                 Toronto     Blue Jays
14                 Houston        Astros
15                 Atlanta        Braves
16          Tampa Bay Area          Rays
17              Pittsburgh       Pirates
18               Cleveland       Indians
19                 Seattle      Mariners
20              Cincinnati          Reds
21             Kansas City        Royals
22               St. Louis     Cardinals
23               Baltimore       Orioles
27               Milwaukee       Brewers
40               San Diego        Padres

In [273]:
mlb_index = metro_mlb['Metropolitan area'].unique()

In [274]:
mlb_df

                     team    W    L   W-L%    GB  year League
0          Boston Red Sox  108   54  0.667    --  2018    MLB
1        New York Yankees  100   62  0.617   8.0  2018    MLB
2          Tampa Bay Rays   90   72  0.556  18.0  2018    MLB
3       Toronto Blue Jays   73   89  0.451  35.0  2018    MLB
4       Baltimore Orioles   47  115  0.290  61.0  2018    MLB
5       Cleveland Indians   91   71  0.562    --  2018    MLB
6         Minnesota Twins   78   84  0.481  13.0  2018    MLB
7          Detroit Tigers   64   98  0.395  27.0  2018    MLB
8       Chicago White Sox   62  100  0.383  29.0  2018    MLB
9      Kansas City Royals   58  104  0.358  33.0  2018    MLB
10         Houston Astros  103   59  0.636    --  2018    MLB
11      Oakland Athletics   97   65  0.599   6.0  2018    MLB
12       Seattle Mariners   89   73  0.549  14.0  2018    MLB
13     Los Angeles Angels   80   82  0.494  23.0  2018    MLB
14          Texas Rangers   67   95  0.414  36.0  2018    MLB
15         Atlanta Braves   90   72  0.556    --  2018    MLB
16   Washington Nationals   82   80  0.506   8.0  2018    MLB
17  Philadelphia Phillies   80   82  0.494  10.0  2018    MLB
18          New York Mets   77   85  0.475  13.0  2018    MLB
19          Miami Marlins   63   98  0.391  26.5  2018    MLB
20      Milwaukee Brewers   96   67  0.589    --  2018    MLB
21           Chicago Cubs   95   68  0.583   1.0  2018    MLB
22    St. Louis Cardinals   88   74  0.543   7.5  2018    MLB
23     Pittsburgh Pirates   82   79  0.509  13.0  2018    MLB
24        Cincinnati Reds   67   95  0.414  28.5  2018    MLB
25    Los Angeles Dodgers   92   71  0.564    --  2018    MLB
26       Colorado Rockies   91   72  0.558   1.0  2018    MLB
27   Arizona Diamondbacks   82   80  0.506   9.5  2018    MLB
28   San Francisco Giants   73   89  0.451  18.5  2018    MLB
29       San Diego Padres   66   96  0.407  25.5  2018    MLB

In [275]:
mlb_df['team_LName'] = mlb_df['team'].apply(lambda x: re.findall('.+\s([A-Z][a-z]+)', x)[0])

In [279]:
mlb_df.iloc[0, -1] = 'Red Sox'
mlb_df.iloc[8, -1] = 'White Sox'
mlb_df.iloc[3, -1] = 'Blue Jays'

In [280]:
mlb_df

                     team    W    L   W-L%    GB  year League    team_LName
0          Boston Red Sox  108   54  0.667    --  2018    MLB       Red Sox
1        New York Yankees  100   62  0.617   8.0  2018    MLB       Yankees
2          Tampa Bay Rays   90   72  0.556  18.0  2018    MLB          Rays
3       Toronto Blue Jays   73   89  0.451  35.0  2018    MLB     Blue Jays
4       Baltimore Orioles   47  115  0.290  61.0  2018    MLB       Orioles
5       Cleveland Indians   91   71  0.562    --  2018    MLB       Indians
6         Minnesota Twins   78   84  0.481  13.0  2018    MLB         Twins
7          Detroit Tigers   64   98  0.395  27.0  2018    MLB        Tigers
8       Chicago White Sox   62  100  0.383  29.0  2018    MLB     White Sox
9      Kansas City Royals   58  104  0.358  33.0  2018    MLB        Royals
10         Houston Astros  103   59  0.636    --  2018    MLB        Astros
11      Oakland Athletics   97   65  0.599   6.0  2018    MLB     Athletics
12       Seattle Mariners   89   73  0.549  14.0  2018    MLB      Mariners
13     Los Angeles Angels   80   82  0.494  23.0  2018    MLB        Angels
14          Texas Rangers   67   95  0.414  36.0  2018    MLB       Rangers
15         Atlanta Braves   90   72  0.556    --  2018    MLB        Braves
16   Washington Nationals   82   80  0.506   8.0  2018    MLB     Nationals
17  Philadelphia Phillies   80   82  0.494  10.0  2018    MLB      Phillies
18          New York Mets   77   85  0.475  13.0  2018    MLB          Mets
19          Miami Marlins   63   98  0.391  26.5  2018    MLB       Marlins
20      Milwaukee Brewers   96   67  0.589    --  2018    MLB       Brewers
21           Chicago Cubs   95   68  0.583   1.0  2018    MLB          Cubs
22    St. Louis Cardinals   88   74  0.543   7.5  2018    MLB     Cardinals
23     Pittsburgh Pirates   82   79  0.509  13.0  2018    MLB       Pirates
24        Cincinnati Reds   67   95  0.414  28.5  2018    MLB          Reds
25    Los Angeles Dodgers   92   71  0.564    --  2018    MLB       Dodgers
26       Colorado Rockies   91   72  0.558   1.0  2018    MLB       Rockies
27   Arizona Diamondbacks   82   80  0.506   9.5  2018    MLB  Diamondbacks
28   San Francisco Giants   73   89  0.451  18.5  2018    MLB        Giants
29       San Diego Padres   66   96  0.407  25.5  2018    MLB        Padres

In [281]:
merged_mlb = mlb_df.merge(metro_mlb, on='team_LName')
grouped_mlb = merged_mlb.groupby(by='Metropolitan area').agg({'W-L%': 'mean'})

In [282]:
q3 = grouped_mlb.reset_index().merge(cities_df[['Metropolitan area', 'Population']], on='Metropolitan area').set_index('Metropolitan area')

In [285]:
q3 = q3.loc[mlb_index, :]

## Import NFL Dataset

In [210]:
nfl_df = pd.read_csv('assets/nfl.csv')
nfl_df = nfl_df[nfl_df['year'] == 2018]

In [237]:
nfl_df['W-L%'] = nfl_df['W-L%'].astype(np.float)

In [215]:
nfl_df.head()

,DSRS,L,League,MoV,OSRS,PA,PD,PF,SRS,SoS,T,W,W-L%,team,year
1,2.1,5,NFL,6.9,3.1,325,111,436,5.2,-1.8,0,11,.688,New England Patriots*,2018
2,-5.2,9,NFL,-7.1,-3.6,433,-114,319,-8.8,-1.7,0,7,.438,Miami Dolphins,2018
3,-0.6,10,NFL,-6.6,-6.3,374,-105,269,-6.9,-0.3,0,6,.375,Buffalo Bills,2018
4,-5.9,12,NFL,-6.8,-2.0,441,-108,333,-7.8,-1.1,0,4,.250,New York Jets,2018
6,6.4,6,NFL,6.4,0.6,287,102,389,7.0,0.6,0,10,.625,Baltimore Ravens*,2018

In [213]:
nfl_df.drop([0, 5, 10, 15, 20, 25, 30, 35], axis=0, inplace=True)

In [216]:
cities_df

,Metropolitan area,Country,Pop.rank,Population,B4,NFL,MLB,NBA,NHL,B6,MLS,CFL
0,New York City,United States,1,20153634.0,9,GiantsJets[note 1],YankeesMets[note 2],KnicksNets,RangersIslandersDevils[note 3],11,Red BullsNew York City FC,—
1,Los Angeles,United States,2,13310447.0,8,RamsChargers[note 4],DodgersAngels,LakersClippers,KingsDucks,10,GalaxyLos Angeles FC[note 5],—
2,San Francisco Bay Area,United States,6,6657982.0,6,49ersRaiders[note 6],GiantsAthletics,Warriors,Sharks[note 7],7,Earthquakes,—
3,Chicago,United States,3,9512999.0,5,Bears[note 8],CubsWhite Sox,Bulls[note 9],Blackhawks,6,Fire,—
4,Dallas–Fort Worth,United States,4,7233323.0,4,Cowboys,Rangers,Mavericks,Stars,5,FC Dallas,—
5,"Washington, D.C.",United States,7,6131977.0,4,Redskins,Nationals[note 10],Wizards[note 11],Capitals,5,D.C. United,—
6,Philadelphia,United States,8,6070500.0,4,Eagles,Phillies[note 12],76ers,Flyers[note 13],5,Union,—
7,Boston,United States,12,4794447.0,4,Patriots[note 14],Red Sox[note 15],Celtics,Bruins,5,Revolution,—
8,Minneapolis–Saint Paul,United States,17,3551036.0,4,Vikings,Twins,Timberwolves,Wild[note 16],5,United FC,—
9,Denver,United States,20,2853077.0,4,Broncos,Rockies,Nuggets[note 17],Avalanche[note 18],5,Rapids,—
10,Miami–Fort Lauderdale,United States,9,6066387.0,4,Dolphins,Marlins,Heat,Panthers,4,[note 19],—
11,Phoenix,United States,13,4661537.0,4,Cardinals,Diamondbacks,Suns,Coyotes,4,—,—
12,Detroit,United States,14,4297617.0,4,Lions,Tigers[note 20],Pistons[note 21],Red Wings,4,—,—
13,Toronto,Canada,10,5928040.0,3,— [note 22],Blue Jays,Raptors[note 23],Maple Leafs,5,Toronto FC,Argonauts
14,Houston,United States,5,6772470.0,3,Texans[note 24],Astros,Rockets,—,4,Dynamo,—
15,Atlanta,United States,11,5789700.0,3,Falcons,Braves,Hawks,[note 25],4,United FC,—
16,Tampa Bay Area,United States,19,3032171.0,3,Buccaneers,Rays,—,Lightning,3,[note 26],—
17,Pittsburgh,United States,28,2342299.0,3,Steelers,Pirates,[note 27],Penguins[note 28],3,—,—
18,Cleveland,United States,33,2055612.0,3,Browns[note 29],Indians[note 30],Cavaliers[note 31],[note 32],3,—,—
19,Seattle,United States,16,3798902.0,2,Seahawks,Mariners,[note 33],[note 34],3,Sounders FC,—
20,Cincinnati,United States,30,2165139.0,2,Bengals,Reds[note 35],[note 36],—,3,FC Cincinnati,—
21,Kansas City,United States,32,2104509.0,2,Chiefs,Royals[note 37],[note 38],[note 39],3,Sporting Kansas City,—
22,St. Louis,United States,21,2807002.0,2,[note 40],Cardinals[note 41],[note 42],Blues[note 43],2,[note 44],—
23,Baltimore,United States,22,2798886.0,2,Ravens[note 45],Orioles[note 46],[note 47],—,2,—,[note 48]
24,Charlotte,United States,23,2474314.0,2,Panthers,—,Hornets[note 49],—,2,—,—
25,Indianapolis,United States,35,2004230.0,2,Colts,[note 50],Pacers[note 51],—,2,—,—
26,Nashville,United States,36,1865298.0,2,Titans,—,—,Predators,2,[note 52],—
27,Milwaukee,United States,37,1572482.0,2,[note 53],Brewers[note 54],Bucks,—,2,—,—
28,New Orleans,United States,45,1268883.0,2,Saints,—,Pelicans[note 55],—,2,—,—
29,Buffalo,United States,47,1132804.0,2,Bills[note 56],[note 57],[note 58],Sabres,2,—,—
30,Montreal,Canada,15,4098927.0,1,—,[note 59],—,Canadiens,3,Impact,Alouettes
31,Vancouver,Canada,24,2463431.0,1,—,—,[note 60],Canucks,3,Whitecaps FC,Lions
32,Orlando,United States,25,2441257.0,1,—,—,Magic,—,2,Orlando City SC,—
33,Portland,United States,27,2424955.0,1,—,—,Trail Blazers,—,2,Timbers,—
34,Columbus,United States,34,2041520.0,1,—,—,—,Blue Jackets,2,Crew SC,—
35,Calgary,Canada,39,1392609.0,1,—,—,—,Flames,2,—,Stampeders
36,Ottawa,Canada,42,1323783.0,1,—,—,—,Senators,2,—,Redblacks
37,Edmonton,Canada,43,1321426.0,1,—,—,—,Oilers,2,—,Eskimos
38,Salt Lake City,United States,46,1186187.0,1,—,—,Jazz,—,2,Real Salt Lake,—
39,Winnipeg,Canada,67,778489.0,1,—,—,—,Jets[note 61],2,—,Blue Bombers
40,San Diego,United States,18,3317749.0,1,[note 62],Padres,[note 63],—,1,—,—
41,San Antonio,United States,26,2429609.0,1,[note 64],—,Spurs,—,1,—,[note 65]
42,Sacramento,United States,29,2296418.0,1,—,—,Kings,—,1,—,[note 66]
43,Las Vegas,United States,31,2155664.0,1,[note 6],—,—,Golden Knights,1,—,[note 67]
44,Jacksonville,United States,38,1478212.0,1,Jaguars,—,—,—,1,—,—
45,Oklahoma City,United States,40,1373211.0,1,—,—,Thunder[note 68],—,1,—,—
46,Memphis,United States,41,1342842.0,1,[note 69],—,Grizzlies,—,1,—,[note 70]
47,Raleigh,United States,44,1302946.0,1,—,—,—,Hurricanes,1,—,—
48,Green Bay,United States,—,318236.0,1,Packers,—,—,—,1,—,—
49,Hamilton,Canada,—,747545.0,0,—,—,—,[note 71],1,—,Tiger-Cats
50,Regina,Canada,—,236481.0,0,—,—,—,—,1,—,Roughriders

In [222]:
metro_nfl = cities_df[['Metropolitan area', 'NFL']]
metro_nfl['team_LName'] = metro_nfl['NFL'].apply(lambda x: re.findall('[A-Z1-9]+[a-z]+', x))
metro_nfl = metro_nfl.explode(column='team_LName').dropna().drop('NFL', axis=1)

C:\Users\Mann\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [244]:
nfl_index = metro_nfl['Metropolitan area'].unique()

In [226]:
metro_nfl.head()

        Metropolitan area team_LName
0           New York City     Giants
0           New York City       Jets
1             Los Angeles       Rams
1             Los Angeles   Chargers
2  San Francisco Bay Area      49ers

In [227]:
nfl_df.head()

,DSRS,L,League,MoV,OSRS,PA,PD,PF,SRS,SoS,T,W,W-L%,team,year
1,2.1,5,NFL,6.9,3.1,325,111,436,5.2,-1.8,0,11,.688,New England Patriots*,2018
2,-5.2,9,NFL,-7.1,-3.6,433,-114,319,-8.8,-1.7,0,7,.438,Miami Dolphins,2018
3,-0.6,10,NFL,-6.6,-6.3,374,-105,269,-6.9,-0.3,0,6,.375,Buffalo Bills,2018
4,-5.9,12,NFL,-6.8,-2.0,441,-108,333,-7.8,-1.1,0,4,.250,New York Jets,2018
6,6.4,6,NFL,6.4,0.6,287,102,389,7.0,0.6,0,10,.625,Baltimore Ravens*,2018

In [231]:
nfl_df['team_LName'] = nfl_df['team'].apply(lambda x: re.findall('.*\s([A-Z1-9]+[a-z]+)\S*', x)[0])

In [238]:
merged_nfl = nfl_df.merge(metro_nfl, on='team_LName')
grouped_nfl = merged_nfl.groupby(by='Metropolitan area').agg({'W-L%': 'mean'})

In [241]:
q4 = grouped_nfl.reset_index().merge(cities_df[['Metropolitan area', 'Population']], on='Metropolitan area').set_index('Metropolitan area')

In [248]:
q4 = q4.loc[nfl_index, :]

# P-Values

In [288]:
sports = ['NFL', 'NBA', 'NHL', 'MLB']
p_values = pd.DataFrame({k:np.nan for k in sports}, index=sports)

In [289]:
p_values

     NFL  NBA  NHL  MLB
NFL  NaN  NaN  NaN  NaN
NBA  NaN  NaN  NaN  NaN
NHL  NaN  NaN  NaN  NaN
MLB  NaN  NaN  NaN  NaN

In [ ]:
nfl_nba =